#FourthLine {
    height: 50vh;
}

@media (orientation: portrait) {
    #FourthLine {
        height: 80vh;
    }
}

#FourthLineRow {
    width: 100%;
}

@media (orientation: portrait) {
    #FourthLineRow {
        flex-wrap: wrap-reverse;
    }
}

#FourthLineLeft {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#FourthLineRight {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
    #FourthLineRight {
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#FourthLineLeftSVG {
    width: 90%;
    height: 90%;
}

@media (orientation: portrait) {
    #FourthLineLeftSVG {
        margin-top: 20vh;
        width: 90%;
        height: 90%;
    }
}

#HeaderFourthLineText {
    color: grey;
    padding-left: 10vh;
    padding-right: 20vh;
    font-size: 2rem;
    text-align: justify;
}

@media (orientation: portrait) {
    #HeaderFourthLineText {
        color: grey;
        padding-top: 15vh;
        padding-left: 10vw;
        padding-right: 10vw;
        font-size: 1.3rem;
        text-align: justify;
    }
}

#FourthLineBottom {
    height: 25vh;
    width: 99%;
    margin-bottom: 5vh;
    display: column;
}

@media (orientation: portrait) {
    #FourthLineBottom {
        height: 50vh;
        display: column;
    }
}

#FourthLineBottomTitle {
    color: #FFA648;
    font-size: 4.2rem;
    padding-top: 2vh;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
    #FourthLineBottomTitle {
        color: #FFA648;
        font-size: 3.2rem;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#FourthLineBottomSubText {
    color: grey;
    font-size: 1.8rem;
    margin-left: 15vw;
    margin-right: 18vw;
    padding-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
    #FourthLineBottomSubText {
        color: grey;
        font-size: 1.3rem;
        margin-top: 6vh;
        margin-left: 5vw;
        margin-right: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}