#Header {
    height: 70vh;
    display: block;
    background-image: url("../imgs/Firefoxwallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 40%;
    text-align: center;
}

@media (orientation: portrait) {
    #Header {
        height: 70vh;
        display: block;
        background-image: url("../imgs/FirefoxWallpaperSmartPhone.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 0%;
        text-align: center;
    }
}

#Title {
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    padding-top: 18vh;
    text-transform: uppercase;
}

@media (orientation: portrait) {
    #Title {
        font-size: 3.5rem;
        font-weight: bold;
        color: white;
        padding-top: 25vh;
        text-transform: uppercase;
    }
}

#SubTitle {
    font-size: 3.0rem;
    color: white;
}

@media (orientation: portrait) {
    #SubTitle {
        font-size: 1.5rem;
        padding-left: 5vw;
        padding-right: 5vw;
        color: white;
    }
}