#ThirdLine {
    height: 54vh;
    background-color: #20123A;
}

#RowWidth {
    width: 100%;
}

@media (orientation: portrait) {
    #ThirdLine {
        height: 100vh;
        background-color: #20123A;
    }
}

#ThirdLineLeft {
    height: 54vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ThirdLineText {
    color: white;
    font-size: 2.0rem;
    padding-left: 7vw;
    padding-right: 5vw;
}

@media (orientation: portrait) {
    #ThirdLineText {
        color: white;
        font-size: 1.5rem;
        padding-left: 7vw;
        padding-right: 5vw;
    }
}

#ThirdLineRight {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

@media (orientation: portrait) {
    #ThirdLineRight {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#ThirdLineImage {
    position: absolute;
    width: 40vw;
    height: 66.5vh;
    top: -11.5vh;
}

@media (orientation: portrait) {
    #ThirdLineImage {
        width: 100vw;
        height: 52vh;
    }
}